
body {
	background: #ffffff !important;
}
main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
    width: 100%;
	background: url(../../../assets/clinica_1.jpg) no-repeat center center;
    background-size: cover;
}
