<div [@slideInBottom] *ngIf="this.imageVisible">
    
<div *ngIf="condition; then conditionTrue else conditionFalse"></div>
<ng-template #conditionTrue>
    <P>Para registrarse como Especialista <a routerLink="/registro/especialista" (click)="cambiarEstado()">haz clic aquí</a></P>
</ng-template>
<ng-template #conditionFalse>
    <P>Para registrarse como Paciente <a routerLink="/registro/paciente" (click)="cambiarEstado()">haz clic aquí</a></P>
</ng-template>

<router-outlet></router-outlet>

</div>