<div class="row">
    <div class="col-md-12 d-flex justify-content-end">
        <button class="button-close" (click)="onDismiss()">
            <span><b>X</b></span>
        </button>
    </div>
    <div class="col-md-12">
        <h1>Encuesta para el turno del día {{turno.Dia}} a las {{turno.Horario}}</h1>
    </div>
    <div class="col-md-12">
        <p>Por favor, complete la siguiente encuesta</p>
    </div>

    <div class="col-md-6" style="text-align: left;">
        <span>¿El especialista soluciono su consulta?</span>
    </div>
    <div class="col-md-6" style="text-align: center;">
        <div class="radio-button">
            <input type="radio" id="solucion-si" name="solucion" value="SI" [(ngModel)]="this.solucionRespuesta">
            <label for="solucion-si">SI</label>
            <input type="radio" id="solucion-no" name="solucion" value="NO" [(ngModel)]="this.solucionRespuesta">
            <label for="solucion-no">NO</label>
        </div>
    </div>

    <div class="col-md-6" style="text-align: left;">
        <span>¿El especialista le receto algún tipo de medicación?</span>
    </div>
    <div class="col-md-6" style="text-align: center;">
        <div class="radio-button">
            <input type="radio" id="medicacion-si" name="medicacion" value="SI" [(ngModel)]="this.medicacionRespuesta">
            <label for="recomendacion-si">SI</label>
            <input type="radio" id="medicacion-no" name="medicacion" value="NO" [(ngModel)]="this.medicacionRespuesta">
            <label for="recomendacion-no">NO</label>
        </div>
    </div>

    <div class="col-md-6" style="text-align: left;">
        <span>¿El especialista le solicito estudios complementarios realizables en esta Clínica?</span>
    </div>
    <div class="col-md-6" style="text-align: center;">
        <div class="radio-button">
            <input type="radio" id="estudios-si" name="estudios" value="SI" [(ngModel)]="this.estudiosRespuesta">
            <label for="limpieza-si">SI</label>
            <input type="radio" id="estudios-no" name="estudios" value="NO" [(ngModel)]="this.estudiosRespuesta">
            <label for="limpieza-no">NO</label>
        </div>
    </div>

    <div class="col-md-12">
        <button class="btn btn-success" (click)="onEnviarEncuestaClick()">
            <span>ENVIAR</span>
        </button>
    </div>
</div>