<div>
    <div class="row p-4 mb-4 text-white bg-dark rounded-3">
        <div class="col-md-12">
            <span><b>Especialidad</b></span>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let especialidad of this.especialidades" class="col-md-2 col-sm-4"> <!-- Sacar nombre de especialidad (ver en donde podemos mostrarlo...) -->
            <button name="especialidad" class="btn btn-primary" id="{{especialidad.nombreEspecialidad}}" (click)="actualizarEspecialistas(especialidad.nombreEspecialidad)">
                <img style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;" src="{{especialidad.imagen}}">{{especialidad.nombreEspecialidad}}
            </button>
        </div>
    </div>
    <div class="row p-4 mb-4 text-white bg-dark rounded-3">
        <div class="col-md-12">
            <span><b>Especialista</b></span>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let especialista of this.especDisplay" class="col-md-2 col-sm-4">
            <button name="especialista" class="btn btn-primary" id="{{especialista.id}}" (click)="actualizarDias(especialista)">
                <img style="width: 50px; height: 50px; border-radius: 50%;" src="{{especialista.ImagenPerfil}}">
                <br><span>{{especialista.Nombre}}</span>
            </button>
        </div>
    </div>
    <div class="row p-4 mb-4 text-white bg-dark rounded-3">
        <div class="col-md-12">
            <span><b>Días</b></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-4" style="margin-top: 1rem;" *ngFor="let dia of this.diasTurnos">
            <button name="dia" class="btn-primary" id="{{dia.day}}" [disabled]="dia.ocupado" (click)="actualizarHorarios(dia)">
                <span>{{dia.date}}</span>
            </button>
        </div>
    </div>
    <div class="row p-4 mb-4 text-white bg-dark rounded-3">
        <div class="col-md-12">
            <span><b>Horarios</b></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-sm-2" style="margin-top: 1rem;" *ngFor="let horario of this.horarios">
            <button name="hora" class="btn-primary" id="hora.time" [disabled]="horario.checked" (click)="onHoraElegida(horario)">
                <span>{{horario.time}}</span>
            </button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-lg btn-success" (click)="onSolicitarTurnoClick()" [disabled]="!(this.especialidadSeleccionada != null && this.especialistaSeleccionado != null && this.horaSeleccionada != null && this.diaSeleccionado != null)" >
                <span>Solicitar turno</span>
            </button>
        </div>
    </div>
</div>