<div class="row">
    <div class="col-md-7">
        <div class="col-md-12" style="display: flex; align-items: center; justify-content: center;">
            <h1>TURNOS</h1>
        </div>

        <div class="row">
            <div class="col-md-12">
                <input type="text" [(ngModel)]="inputFiltro" (input)="filtrarTurnos()" placeholder="Buscar...">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-secondary" (click)="onLimpiarFiltrosClick()">
                    <span>LIMPIAR FILTROS</span>
                </button>
            </div>
        </div>

        <div class="row" style="overflow: auto; max-height: 700px;">
            <div class="col-md-6 div_turno" *ngFor="let turno of this.turnosFiltrados">
                <div>
                    <span>{{turno.Especialidad}}</span><br>
                    <span>{{data.getNameById(turno.idPaciente, "Pacientes")}}</span><br>
                    <span>{{turno.Dia}}</span><br>
                    <span>{{turno.Horario}}</span><br>
                    <span>{{turno.Estado}}</span><br>
                    <div>
                        <button class="btn btn-danger" (click)="onRechazarTurnoClick(turno)" *ngIf="turno.Estado == 'Pendiente'">
                            <span>Rechazar</span>
                        </button>
                        <button class="btn btn-danger" (click)="onCancelClick(turno)" *ngIf="turno.Estado == 'Aceptado'">
                            <span>Cancelar</span>
                        </button>
                        <button class="btn btn-primary" (click)="onAcceptTurnoClick(turno)" *ngIf="turno.Estado == 'Pendiente'">
                            <span>Aceptar</span>
                        </button>
                        <button class="btn btn-success" (click)="onFinishTurnoClick(turno)" *ngIf="turno.Estado == 'Aceptado'">
                            <span>Finalizar</span>
                        </button>
                        <button class="btn btn-warning" (click)="onViewMessageClick(turno)" *ngIf="turno.Estado == 'Finalizado' && turno.Diagnostico.length > 0 ">
                            <span>Ver Diagnostico</span>
                        </button>
                        <button class="btn btn-secondary" (click)="onHistoraClick(turno)" *ngIf="turno.Estado == 'Finalizado' && turno.Diagnostico.length > 0 && turno.HistoriaClinica == null">
                            <span>Redactar Historia Clínica</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5"> 
        <app-cancelar [turno]="turnoSeleccionado" (close)="onCancelTurnoDismiss()" *ngIf="this.viewCancel"></app-cancelar>
        <app-rechazar [turno]="turnoSeleccionado" (close)="onRechazarTurnoDismiss()" *ngIf="this.viewRechazar"></app-rechazar>
        <app-finalizar [turno]="turnoSeleccionado" (close)="onFinishTurnosDismiss()" *ngIf="this.viewFinish"></app-finalizar>
        <app-ver-valoracion [turno]="turnoSeleccionado" (close)="onReseniaTurnoDismiss()" *ngIf="this.viewMessage"></app-ver-valoracion>
        <app-ver-historial [turno]="turnoSeleccionado" (close)="onHistoriaClinicaDismiss()" *ngIf="this.viewHistoria"></app-ver-historial>
    </div>
</div>