<div style="display: flex; justify-content: center;">
    <div class="col-md-3">
    <button class="btn-success col-md-12" routerLink="listado">
        <p>Consultar información de usuarios</p>
    </button>
    </div>
    <div class="col-md-3">
    <button class=" btn-warning col-md-12" routerLink="acceso-espec">
        <p>Habilitar o Inhabilitar acceso a Especialistas</p>
    </button>
    </div>
    <div class="col-md-3" routerLink="registrar-admin">
    <button class="btn-primary col-md-12">
        <p>Alta de nuevos Admin</p>
    </button>
    </div>
    <div class="col-md-3" (click)="onDescargarClick()">
    <button class="btn-info col-md-12">
        <p>Descargar Excel de Usuarios</p>
    </button>
    </div>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>
