<div class="row background">
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-12">
                <h1>TURNOS</h1>
            </div>
        </div>

        <div class="info-container">
            <div class="row">
                <div class="col-md-12 text">
                    <span><b>Especialidad</b></span>
                </div>
            </div>
            <div class="row especialidad">
                <div *ngFor="let especialidad of this.especialidades" class="radio-button col-md-3 col-sm-4">
                    <input type="radio" id="{{especialidad.nombreEspecialidad}}" name="especialidades" value="{{especialidad.nombreEspecialidad}}" 
                    [(ngModel)]="this.especialidadSeleccionada"  (change)="onEspecialidadChange(especialidad.nombreEspecialidad)" checked>
                    <label for="{{especialidad.nombreEspecialidad}}">{{especialidad.nombreEspecialidad}}</label>
                </div>
            </div>
        </div>

        <div class="info-container">
            <div class="row">
                <div class="col-md-12 text">
                    <span><b>Especialista</b></span>
                </div>
            </div>
            <div class="row especialidad">
                <div *ngFor="let especialista of this.especialistas" class="radio-button col-md-2 col-sm-4">
                    <input type="radio" id="{{especialista.nombre}}" name="especialistas" value="{{especialista.id}}"
                    [(ngModel)]="this.especialistaSeleccionado"  (change)="onEspecialistaChange(especialista)" checked>
                    <label for="{{especialista.nombre}}">{{especialista.nombre}}</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button class="clean-btn" (click)="onLimpiarFiltrosClick()">
                    <span>LIMPIAR FILTROS</span>
                </button>
            </div>
        </div>

        <div class="turnos-container">
            <div class="row">
                <div class="col-md-12 turno" *ngFor="let turno of this.turnosFiltrados">
                    <div class="info">
                        <span>{{turno.Especialidad}}</span>
                        <div>
                            <button class="btn btn-danger" (click)="onCancelClick(turno)" *ngIf="turno.Estado == 'Pendiente'">
                                <span>Cancelar</span>
                            </button>
                        </div>
                    </div>
                    <div class="info">
                        <span>{{turno.Especialista}}</span><!-- Mostrar nombre Especialista (y Paciente tmb seria lo ideal)-->
                        <div><span>{{turno.Dia}}</span></div>
                        <span>{{turno.Horario}}</span>
                        <span>{{turno.Estado}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5"> 
        <app-cancelar
        [turno]="fechaTurno" (close)="onCancelTurnoDismiss($event)" *ngIf="this.viewCancel"
        ></app-cancelar>
    </div>
</div>