<table [cellPadding]="12">
    <tr>
        <h2>Pacientes</h2>
    </tr>
    <tr>
        <th>
            ID
        </th>
        <th>
            NOMBRE
        </th>
        <th>
            CORREO
        </th>
    </tr>
    <tr *ngFor="let paciente of listaPacientes;" >
        <td> {{ paciente.id }} </td>
        <td> {{ paciente.nombre }} {{ paciente.apellido }} </td>
        <td> {{ paciente.email }} </td>
        <td>
            <button class="btn btn-primary" (click)="seleccionarPaciente(paciente)">VER DETALLE</button>
        </td>
    </tr>
    
</table>
