<div class="row">
    <div class="col-md-7">
        <div class="col-md-12" style="display: flex; align-items: center; justify-content: center;">
            <h1>TURNOS</h1>
        </div>

       <div class="row">
        <div class="col-md-12">
            <input type="text" [(ngModel)]="inputFiltro" (input)="filtrarTurnos()" placeholder="Buscar...">
        </div>
       </div>

        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-secondary" (click)="limpiarFiltros()">
                    <span>LIMPIAR FILTROS</span>
                </button>
            </div>
        </div>

        <div class="row" style="overflow: auto; max-height: 700px;">
            <div class="col-md-6 div_turno" *ngFor="let turno of this.turnosFiltrados">
                <div class="info">
                    <span>{{turno.Especialidad}}</span><br>
                    <span>{{data.getNameById(turno.idEspecialista, "Especialistas")}}</span><br>
                    <span>{{turno.Dia}}</span><br>
                    <span>{{turno.Horario}}</span><br>
                    <span>{{turno.Estado}}</span>
                    <div>
                        <button class="btn btn-success" (click)="onEncuestaClick(turno)" *ngIf="turno.Estado == 'Finalizado'  && turno.Encuesta == null">
                            <span>Encuesta</span>
                        </button>
                        <button class="btn btn-primary" (click)="onRateTurnoClick(turno)" *ngIf="turno.Estado == 'Finalizado' && turno.Valoracion == null">
                            <span>Valorar</span>
                        </button>
                        <button class="btn btn-danger" (click)="onCancelClick(turno)" *ngIf="turno.Estado == 'Pendiente' || turno.Estado == 'Aceptado'">
                            <span>Cancelar</span>
                        </button>
                        <button class="btn btn-secondary" (click)="onReseniaClick(turno)" *ngIf="turno.Estado == 'Finalizado' && turno.Diagnostico.length > 0">
                            <span>Ver Diagnostico</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <app-cancelar [turno]="fechaTurno" (close)="onCancelTurnoDismiss()" *ngIf="this.viewCancel"></app-cancelar>
        <app-valorar [turno]="fechaTurno" (close)="onRateTurnoDismiss()" *ngIf="this.viewRate"></app-valorar>
        <app-encuesta [turno]="fechaTurno" (close)="onEncuestaTurnoDismiss()" *ngIf="this.viewEncuesta"></app-encuesta>
        <app-ver-valoracion [turno]="fechaTurno" (close)="onReseniaTurnoDismiss()" *ngIf="this.viewMessage"></app-ver-valoracion>
    </div>
</div>