<div class="row background">
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-12">
                <h1>TURNOS</h1>
            </div>
        </div>

       <div class="row">
        <div class="col-md-12">
            <input class="input-filtro" type="text" [(ngModel)]="inputFiltro" (input)="filtrarTurnos()" placeholder="Buscar...">
        </div>
       </div>

        <div class="row">
            <div class="col-md-12">
                <button class="clean-btn" (click)="limpiarFiltros()">
                    <span>LIMPIAR FILTROS</span>
                </button>
            </div>
        </div>

        <div class="turnos-container">
            <div class="row">
                <div class="col-md-12 turno" *ngFor="let turno of this.turnosFiltrados">
                    <div class="info">
                        <span>{{turno.Especialidad}}</span>
                        <div>
                            <button class="btn btn-success" (click)="onEncuestaClick(turno)" *ngIf="turno.Estado == 'Finalizado'  && turno.Encuesta == null">
                                <span>Encuesta</span>
                            </button>
                            <button class="btn btn-primary" (click)="onRateTurnoClick(turno)" *ngIf="turno.Estado == 'Finalizado' && turno.Rating == null">
                                <span>Rating</span>
                            </button>
                            <button class="btn btn-danger" (click)="onCancelClick(turno)" *ngIf="turno.Estado == 'Pendiente' || turno.Estado == 'Esperando' ">
                                <span>Cancelar</span>
                            </button>
                            <button class="btn btn-secondary" (click)="onReseniaClick(turno)" *ngIf="turno.Estado == 'Finalizado' && turno.Mensaje.length > 0">
                                <span>Ver reseña</span>
                            </button>
                        </div>
                    </div>
                    <div class="info">
                        <span>{{turno.Especialista}}</span><!-- Mostrar nombre de especialista -->
                        <div><span>{{turno.Dia}}</span></div>
                        <span>{{turno.Horario}}</span><br>
                        <span>{{turno.Estado}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <app-cancelar [turno]="fechaTurno" (close)="onCancelTurnoDismiss()" *ngIf="this.viewCancel"></app-cancelar>
        <app-valorar [turno]="fechaTurno" (close)="onRateTurnoDismiss()" *ngIf="this.viewRate"></app-valorar>
        <app-encuesta [turno]="fechaTurno" (close)="onEncuestaTurnoDismiss()" *ngIf="this.viewEncuesta"></app-encuesta>
        <app-ver-valoracion [turno]="fechaTurno" (close)="onReseniaTurnoDismiss()" *ngIf="this.viewMessage"></app-ver-valoracion>
    </div>
</div>