<div style="display: flex; align-items: center; justify-content: center; height: 100vh; width: 100%;">
    <div style="max-width: 400px; padding: 20px 40px 40px; margin: 0 auto;">
        <form style="border: 1px solid rgb(0, 0, 0); position: relative; font-size: 16px; height: auto; padding: 10px; " 
        class="needs-validation" [formGroup]="formLog">
            <h3>Inicio de sesión</h3>
            <label for="mail">Correo electrónico</label>
            <br>
            <input autofocus name="mail" type="email" formControlName="email">
            <ul class="list-group" *ngIf="this.formLog.controls['email'].errors != null && this.formLog.controls['email'].touched">
                <li *ngIf="this.formLog.controls['email'].errors!['required']">
                    Debe escribir el correo electrónico de su perfil.
                </li>
            </ul>
            <br><br>
            <label for="password">Contraseña</label>
            <br>
            <input name="password" type="password" formControlName="password">
            <ul class="list-group" *ngIf="this.formLog.controls['password'].errors != null && this.formLog.controls['password'].touched">
                <li *ngIf="this.formLog.controls['password'].errors!['required']">
                    Debe escribir la contraseña de su perfil.
                </li>
            </ul>
            <br><br>
            <button (click)="validarSesion()">Iniciar Sesión</button>
        </form>
        <footer>
           <span>Usuarios para acceso rápido...</span>
            <app-access-users
            [arrayUsuarios]="arrayTodosUsuarios"
            (usuarioElegidoEvent)="inicioRapido($event)"
            ></app-access-users>
        </footer>
    </div>
</div>