<ol>
    <li *ngFor="let especialidad of listaEspecialidades; index as i" >
      <button class="" (click)="seleccionarEspecialidad(especialidad)">
        <span>{{ especialidad }}</span>
        <img src="../../../assets/traumatologo.png" style="width: 40px; height: 40px;">
      </button>
    </li>
    <li>
      <button class="" (click)="agregarEspecialidad()">
        <span>Agregar nueva especialidad</span>
      </button>
    </li>
</ol>
<div *ngIf="addEspecialidad == true, then conditionTrue else conditionFalse"></div>
<ng-template #conditionTrue>
<input type="text" class="form-control" name="Especialidad" [(ngModel)]="especialidad" required>
<input type="button" value="Agregar" (click)="registrarEspecialidad(especialidad)">
</ng-template>
<ng-template #conditionFalse>
<input type="text" class="form-control" name="Especialidad" [(ngModel)]="especialidad" required disabled>
</ng-template>