<table [cellPadding]="12">
    <tr>
        <h2>Especialistas</h2>
    </tr>
    <tr>
        <th>
            ID
        </th>
        <th>
            NOMBRE
        </th>
        <th>
            CORREO
        </th>
    </tr>
    <tr *ngFor="let especialista of listaEspecialistas;" >
        <td> {{ especialista.id }} </td>
        <td> {{ especialista.nombre }} {{ especialista.apellido }} </td>
        <td> {{ especialista.email }} </td>
        <td>
            <button class="btn btn-primary" (click)="seleccionarEspecialista(especialista)">VER DETALLE</button>
        </td>
    </tr>
    
</table>
