<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <h3 class="navbar-brand">Clínica OnLine</h3>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMain">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="home">{{ 'NAV_HOME' | translate }}</a>
          </li>
          <div *ngIf="auth.logueado == false; then conditionTrue else conditionFalse"></div>
          <ng-template #conditionTrue>
            <li class="nav-item">
              <a class="nav-link" routerLink="login">{{ 'NAV_LOGIN' | translate }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="registro">{{ 'NAV_SIGNIN' | translate }}</a>
            </li>
          </ng-template>

          <ng-template #conditionFalse>
            <li class="nav-item">
              <a class="nav-link" routerLink="perfil">{{ 'NAV_PROFILE' | translate }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="home" (click)="auth.logOut()">{{ 'NAV_LOGOUT' | translate }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="onTurnosClick()">{{ 'NAV_CHECK' | translate }}</a>
            </li>
          </ng-template>
          <div *ngIf="auth.rol=='ADMINISTRADOR'">
            <li class="nav-item">
              <a class="nav-link" routerLink="usuarios">{{ 'NAV_USERS' | translate }}</a>
            </li>
          </div>
          <div *ngIf="auth.rol=='ADMINISTRADOR'">
            <li class="nav-item">
              <a class="nav-link" routerLink="graficos">{{ 'NAV_CHARTS' | translate }}</a>
            </li>
          </div>
          <div *ngIf="auth.rol=='ADMINISTRADOR' || auth.rol=='PACIENTE'">
            <li class="nav-item">
              <a class="nav-link" routerLink="pedir-turno">{{ 'NAV_REQUEST' | translate }}</a>
            </li>
          </div>
          <div *ngIf="auth.rol=='ESPECIALISTA'">
            <li class="nav-item">
              <a class="nav-link" routerLink="pacientes">{{ 'NAV_PATIENTS' | translate }}</a>
            </li>
          </div>
          <li class="nav-item dropdown">
            <select class="btn nav-link dropdown-toggle bg-dark" (change)="setLang($event)">
              <option *ngFor="let item of langArray" [value]="item.lang">{{item.idioma}}</option>
            </select> 
          </li>
        </ul>
      </div>

    </div>
</nav>
<div *ngIf="loading.isLoading">
  <app-loading></app-loading>
</div>