<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <h3 class="navbar-brand">Clínica OnLine</h3>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMain">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="home">Home</a>
          </li>

          <div *ngIf="auth.logueado == false; then conditionTrue else conditionFalse"></div>
          <ng-template #conditionTrue>
            <li class="nav-item">
              <a class="nav-link" routerLink="login">Log in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="registro">Registro</a>
            </li>
          </ng-template>
          <ng-template #conditionFalse>
            <li class="nav-item">
              <a class="nav-link" routerLink="perfil">Mi perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="home" (click)="auth.logOut()">Cerrar Sesión</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="onTurnosClick()">Mis turnos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="graficos">Gráficos</a><!-- Meter en solo ADMIN -->
            </li>
          </ng-template>
          <div *ngIf="auth.rol=='ADMINISTRADOR'">
            <li class="nav-item">
              <a class="nav-link" routerLink="usuarios">Usuarios</a>
            </li>
            
          </div>
          <div *ngIf="auth.rol=='ADMINISTRADOR' || auth.rol=='PACIENTE'">
            <li class="nav-item">
              <a class="nav-link" routerLink="pedir-turno">Solicitar turnos</a>
            </li>
          </div>
          <div *ngIf="auth.rol=='ESPECIALISTA'">
            <li class="nav-item">
              <a class="nav-link" routerLink="pacientes">Pacientes</a>
            </li>
          </div>
        </ul>
      </div>
    </div>
</nav>
<div *ngIf="loading.isLoading">
  <app-loading></app-loading>
</div>