<div class="row">
    <div class="col-md-12 d-flex justify-content-end">
        <button class="button-close" (click)="onDismiss()">
            <span><b>X</b></span>
        </button>
    </div>
    <div class="col-md-12">
        <h1>Usted está apunto de rechazar el turno del {{turno.Dia}} a las {{turno.Horario}}</h1>
    </div>
    <div class="col-md-12">
        <p>Por favor, deje una justificacion de por qué rechaza el turno</p>
    </div>
    <div class="col-md-12">
        <textarea class="textarea" rows="8" cols="50" placeholder="Rechazo el turno debido a..." [(ngModel)]="this.text"></textarea>
    </div>
    <div class="col-md-12">
        <button class="btn btn-secondary" (click)="onCancelClick()">
            <span>RECHAZAR TURNO</span>
        </button>
    </div>
</div>