<div class="row body">
    <div class="col-md-12 d-flex justify-content-end">
        <button class="button-close" (click)="onDismiss()">
            <span><b>X</b></span>
        </button>
    </div>
    <div class="col-md-12">
        <h1>Historia clinica de {{this.nombrePaciente}} en fecha {{turno.Dia}}</h1>
    </div>
    <div class="col-md-12">
        <p>Redacte la historia clinica</p>
    </div>

    <div class="col-md-6" style="text-align: left;">
        <span>Altura</span>
    </div>
    <div class="col-md-6" style="text-align: left;">
        <input class="input-form" type="number" min="120" max="220" [(ngModel)]="this.altura" placeholder="(en cm)">
    </div>

    <div class="col-md-6" style="text-align: left;">
        <span>Peso</span>
    </div>
    <div class="col-md-6" style="text-align: left;">
        <input class="input-form" type="number" min="30" max="220" [(ngModel)]="this.peso" placeholder="(en Kg)">
    </div>

    <div class="col-md-6" style="text-align: left;">
        <span>Temperatura</span>
    </div>
    <div class="col-md-6" style="text-align: left;">
        <input class="input-form" type="number" min="30" max="45" [(ngModel)]="this.temperatura" placeholder="(en Cº)">
    </div>

    <div class="col-md-6" style="text-align: left;">
        <span>Presión</span>
    </div>
    <div class="col-md-6" style="text-align: left;">
        <input class="input-form" type="number" min="80" max="200" [(ngModel)]="this.presion" placeholder="(en mmHg)">
    </div>

    <div class="row" style="margin: 0; padding: 0;"> 
        <div class="row">
            <div class="col-md-11">
                <div class="row">
                    
                    <div class="col-md-6" style="text-align: left;">
                        <span>Clave de rango</span>
                    </div>
                    <div class="col-md-6" style="text-align: left;">
                        <input [id]="'claveRango'" class="input-form" type="text" [(ngModel)]="this.claveRango">
                    </div>
                    <div class="col-md-6" style="text-align: left;">
                        <span>Valor de rango</span>
                    </div>
                    <div class="col-md-6" style="text-align: left;">
                        <div style="position: relative; display: flex; align-items: center; justify-content: center;">
                            <div>0</div>
                            <input type="range" class="form-range" id="valorRango" min="0" max="100" step="1" [(ngModel)]="this.datoRango">
                            <div>100</div>
                        </div>
                        <p>Valor: {{this.datoRango}}</p>
                    </div>
                    <div class="col-md-6" style="text-align: left;">
                        <span>Clave numerica</span>
                    </div>
                    <div class="col-md-6" style="text-align: left;">
                        <input [id]="'claveNumerica'" class="input-form" type="text" [(ngModel)]="this.claveNum">
                    </div>
                    <div class="col-md-6" style="text-align: left;">
                        <span>Valor numérico</span>
                    </div>
                    <div class="col-md-6" style="text-align: left;">
                        <input [id]="'valorNumerico'" class="input-form" type="number" [(ngModel)]="this.datoNum">
                    </div>
                    <div class="col-md-6" style="text-align: left;">
                        <span>Clave Si/No</span>
                    </div>
                    <div class="col-md-6" style="text-align: left;">
                        <input [id]="'claveBoolean'" class="input-form" type="text" [(ngModel)]="this.claveSwitch">
                    </div>
                    <div class="col-md-6" style="text-align: left;">
                        <span>Valor Si/No</span>
                    </div>
                    <div class="col-md-6" style="text-align: left;">
                        <label class="switch">
                            <input [id]="'valorBoolean'" type="checkbox" [(ngModel)]="this.datoSwitch">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <br>
    <div class="row" style="margin: 0; padding: 0;" *ngFor="let campo of campos; let i = index"> 
        <div class="row">
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-6" style="text-align: left;">
                        <span>Clave {{i + 1}}</span>
                    </div>
                    <div class="col-md-6" style="text-align: left;">
                        <input [id]="'clave' + i" class="input-form" type="text">
                    </div>
                    <div class="col-md-6" style="text-align: left;">
                        <span>Valor {{i + 1}}</span>
                    </div>
                    <div class="col-md-6" style="text-align: left;">
                        <input [id]="'valor' + i" class="input-form" type="text">
                    </div>
                </div>
            </div>
            <div class="col-md-1 d-flex justify-content-center align-items-center" > 
                <button class="button-sacar" (click)="eliminarCampo(i)">
                    <span><b>Descartar</b></span>
                </button>
            </div>
        </div>
    </div> 

    <div *ngIf="this.campos.length < 3" class="col-md-12">
        <button class="button-agregar" (click)="agregarCampo()">Agregar Campo</button>
    </div>

    <div class="col-md-12">
        <button class="button-cancel" (click)="onSubirHistoriaClinica()">
            <span>ENVIAR</span>
        </button>
    </div>
</div>